{% block header %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &#8226; {{ page.websiteTitle }}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<body>

    <div class="desktop-overlay">
        <div class="text-center">
            <h1><i class="fa fa-mobile"></i></h1>
            <h3>This application is designed for Mobile devices, please use a Mobile device.</h3>
            <img src="/img/uts.png">
            <br>
            <a href="https://helps-booking.uts.edu.au/">If you would like to access the existing desktop application, please click here.</a>
        </div>
    </div>

      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">UTS:HELPS</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                  {% if page.loggedin == true %}
                      <a href="/profile" class="nav-profile-link">
                          <div class="nav-profile">
                              <div class="row">
                                  <div class="col-md-2">
                                      <img class="img-circle nav-profile-image" src="/img/default-user-icon-profile.png">
                                  </div>
                                  <div class="col-md-10">
                                      <h3>{{ page.user.student_id }}</h3>
                                      <h4>{{ page.user.name }}</h4>
                                  </div>
                              </div>
                          </div>
                      </a>
                  {% endif %}
                  <ul class="nav navbar-nav navbar-right">
                      {% if page.loggedin == true %}
                          <li><a href="/bookings"><i class="fa fa-bookmark"></i> My Bookings</a></li>
                          <li><a href="/workshops"><i class="fa fa-file"></i> Workshops</a></li>
                          <li><a href="/sessions"><i class="fa fa-briefcase"></i> Sessions</a></li>
                          <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                      {% endif %}
                      {% if page.loggedin == false %}
                          <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>

        <div class="container">

            {% if page.navbar == true %}
                <a href="{{ page.navbar-params.link }}" class="header-button"><div><i class="fa fa-chevron-left"></i> {{ page.navbar-params.label }}</div></a>
                <br>
            {% endif %}

            {% for error in page.flash.error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
            {% for success in page.flash.success %}
                <div class="alert alert-success" role="alert">{{ success }}</div>
            {% endfor %}
{% endblock %}