<div class="page-title-center">
    <h3>Contact Us</h3>
    <br>
</div>

<p>If you are having issues with the service or have questions, feel free to use the contact form to get in touch with the UTS:Helps team.</p>

<br>

<form method="POST">

    <div class="form-group has-feedback">
        <label for="contact[name]" class="sr-only">Name</label>
        <input type="text" id="contact[name]" class="form-control input-lg" name="contact[name]" required placeholder="Name">
    </div>

    <div class="form-group has-feedback">
        <label for="contact[studentid]" class="sr-only">Student ID</label>
        <input type="text" id="contact[studentid]" class="form-control numeric input-lg" name="contact[studentid]" required placeholder="Student ID">
    </div>

    <div class="form-group has-feedback">
        <label for="contact[email]" class="sr-only">Student Email</label>
        <input type="email" id="contact[email]" class="form-control input-lg" name="contact[email]" required placeholder="Student Email">
    </div>

    <h5>Category</h5>
    <label for="contact[category]" class="sr-only">Category</label>
    <select name="contact[category]" id="contact[category]" required style="width: 100%;" class="form-control input-lg">
        <option value="Technical Assistance" selected>Technical Assistance</option>
        <option value="Account Issue">Account Issue</option>
        <option value="Question">Question</option>
        <option value="Feedback">Feedback</option>
        <option value="Query">Query</option>
    </select>

    <h5>Message</h5>
    <label for="contact[message]" class="sr-only">Message</label>
    <textarea id="contact[message]" class="form-control" name="contact[message]" rows="3" required></textarea>

    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    <br>
    <br>

</form>

<h4>Alternatively, use the following contact info below:</h4>

<p>
    <strong>Phone:</strong> 012345678
    <br>
    <strong>Email:</strong> <a href="mailto:utshelps@uts.edu.au">utshelps@uts.edu.au</a>
</p>
