<div class="page-title-center">
    <h3>FAQ</h3>
    <br>
</div>

<h4>Who can use HELPS?</h4>
<p>Any student enrolled in any faculty at UTS, and all members of UTS staff</p>
<br>

<h4>Where is HELPS?</h4>
<p>HELPS is located on Building 1, Level 3 , room 8 (opposite the Careers service)</p>
<br>

<h4>How much does it cost?</h4>
<p>Services are free of tuition fees for non-credit workshops and individual consultations.</p>
<br>

<h4>Can you help me with my assignment?</h4>
<p>Yes. HELPS offers various workshops and individual consultations.</p>
<br>

<h4>Can you proofread and correct my assignment?</h4>
<p>No. Our role is not to correct grammar or other errors in an assignment. We can help you develop your own editing strategies. You should also use a computer spell-check, find a competent friend and a good dictionary.</p>
<br>

<h4>Can you help me with the content of my assignment?</h4>
<p>No. We can’t tell you what to say, we can only help you say it better and more clearly. While we’re happy to act as a sounding board for your ideas, content questions require the specialised disciplinary knowledge of lecturers and tutors in your faculty. You should take specific content questions directly to them.</p>
<br>

<h4>My lecturer says I need to improve my grammar. Can you help me?</h4>
<p>Yes.</p>
<br>

<h4>Can you help me with my pronunciation?</h4>
<p>Yes.</p>
<br>

<h4>Can I practise my seminar presentation with someone?</h4>
<p>Yes. You can attend our workshops or drop in for an individual consultation session.</p>
<br>

<h3><strong>Special Conditions in Exams</strong></h3>

<h4>I am not a native English speaker and I feel that I need more time in exams. Can you help?</h4>
<p>Maybe. You might be eligible to apply for Special Conditions in Exams.</p>
<br>

<h4>I'm a second/third year student. Can I get Special Conditions in my exams?</h4>
<p>No. Only first year (1st/2nd semester) students are eligible to apply.</p>
<br>

<h4>What is the deadline to apply for the Special Conditions?</h4>
<p>The application closes on the Census date (for Autumn semester: 31 March 2015). Refer to academic calendar for further information.</p>
<br>

<h4>If you have a question which has not been answered above, please contact us: <a href="/contact">Contact us</a></h4>