{% if page.loggedin == true %}
    <div class="header-button"><div><h4>Dashboard</h4></div></div>
    <div class="home-statdisplay">
        <div class="home-statdisplay-left">
            <div class="home-bookingcount">
                <h5>BOOKINGS</h5>
                <h1>{{ page.bookingCount }}</h1>
            </div>
        </div>
    </div>

    <br>
    <div class="text-center">
        <h4>What would you like to do today?</h4>
    </div>
    <br>

    <a href="/bookings" class="home-panel-link">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-bookmark"></i></h2>
                <h1 class="panel-title">View My Bookings</h1>
            </div>
        </div>
    </a>
    <a href="/workshops" class="home-panel-link">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-file"></i></h2>
                <h1 class="panel-title">View Workshops</h1>
            </div>
        </div>
    </a>
    <a href="/sessions" class="home-panel-link">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-briefcase"></i></h2>
                <h1 class="panel-title">View Sessions</h1>
            </div>
        </div>
    </a>
    <a href="/profile" class="home-panel-link">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-user"></i></h2>
                <h1 class="panel-title">Edit my Profile</h1>
            </div>
        </div>
    </a>

{% endif %}
{% if page.loggedin == false %}
    <div class="home-overlay">
        <div class="text-center">
            <br>
            <br>
            <br>
            <img src="/img/uts.png">
            <br>
            <h2>UTS:HELPS</h2>
            <h3>Mobile Application</h3>
            <br>
            <br>
            <a href="/login" class="btn btn-secondary btn-lg btn-block">Login</a>
            <br>
            <br>
            <a href="/contact">Contact Us</a> | <a href="/faq">FAQ</a>
        </div>
    </div>
{% endif %}