{% if page.loggedin == true %}
    <div class="header-button"><div><h4>Dashboard</h4></div></div>
    <div class="home-statdisplay">
        <div class="home-statdisplay-left">
            <div class="home-bookingcount">
                <h5>BOOKINGS</h5>
                <h1>{{ page.bookingCount }}</h1>
            </div>
        </div>
        <div class="home-statdisplay-right">
            <div class="home-statdisplay-right-stat">
                <h6>WAITING LIST BOOKINGS</h6>
                <h3>6</h3>
            </div>
            <div class="home-statdisplay-right-stat">
                <h6>WAITING LIST BOOKINGS</h6>
                <h3>6</h3>
            </div>
        </div>
    </div>
{% endif %}
{% if page.loggedin == false %}

{% endif %}