<div class="page-title-center">
    <h3>Profile</h3>
    <h4>{{ page.user.name }}, {{ page.user.student_id }}</h4>
    <br>
</div>

<div class="profile-strikes">
    <h3>Strikes</h3>
    <div class="strikes">
        <h2>{{ page.user.strikes }}</h2>
        <h3 class="outof">/ {{ page.maxstrikes }}</h3>
    </div>
</div>

<h3 class="profile-divider user-settings" data-divider="user-settings">User Settings <span class="fa fa-chevron-right profile-divider-chevron"></span></h3>
<div class="profile-user-settings" style="display: none">

</div>

<h3 class="profile-divider notification" data-divider="notification">Notification Settings <span class="fa fa-chevron-right profile-divider-chevron"></span></h3>
<div class="profile-notification" style="display: none">
    
</div>
