<a href="/workshops/search" class="btn btn-default" style="float: right"><i class="fa fa-search"></i> Search by Campus</a>
<br>
<br>
<br>

<div class="page-title-center">
    <h3>Workshops</h3>
    <h5>Categories</h5>
    <br>
</div>

{% if page.workshops != null %}
    {% for workshop in page.workshops %}
        <a href="/workshop/{{ workshop.id }}" class="workshopset-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="badge"><i class="fa fa-angle-right"></i></span>
                    <h3 class="panel-title">{{ workshop.name }}</h3>
                </div>
            </div>
        </a>
    {% endfor %}
{% endif %}
{% if page.workshops == null %}
    <div class="alert alert-danger" role="alert">
        <strong>Unable to load workshops list.</strong> Please try again or check the url.
    </div>
{% endif %}
