<a class="btn btn-default" href="/workshops" role="button"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to Workshops</a>
<br>
<br>

{% if page.workshop != null %}
    <div class="page-title-center">
        <h3>Workshop</h3>
        <h4><span class="label label-default">{{ page.workshopset.name }}</span></h4>
        <br>
    </div>
    {% for workshop in page.workshop %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ workshop.topic }}</h3>
                <p class="workshop-labels">
                    <span class="label label-primary">{{ workshop.campus }}</span>
                    <span class="label label-success">{{ workshop.date }}</span>
                </p>
            </div>
            <div class="panel-body">
                {% if workshop.description != null %}
                    <div class="workshop-description">
                        <p>{{ workshop.description }}</p>
                        <div class="read-more"></div>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p class="workshop-no-description">No description</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
{% if page.workshop == null %}
    <div class="alert alert-danger" role="alert">
        <strong>Unable to load workshop.</strong> Please try again or check the url.
    </div>
{% endif %}

{% debug %}