<a class="btn btn-default" href="/workshops" role="button"><i class="fa fa-chevron-left"></i> Back to Workshops</a>
<br>
<br>

{% if page.workshop != null %}
    <div class="page-title-center">
        <h3>Workshop</h3>
        <h4><span class="label label-default">{{ page.workshopset.name }}</span></h4>
        <br>
    </div>

    <h3 class="workshop-divider available">Available</h3>
    {% for workshop in page.workshop %}
        {% if workshop.full == false %}
            <div class="panel panel-default workshop-listing" data-url="/ajax/workshop/book" data-id="{{ workshop.id }}">
                <div class="panel-heading">
                    <span class="workshop-amount available">{{ workshop.remaining }}</span>
                    <h3 class="panel-title">{{ workshop.topic }}</h3>
                    <p class="workshop-labels">
                        <span class="label label-primary">{{ workshop.date }}</span>
                    </p>
                </div>
                <div class="panel-body">
                    <div class="workshop-contents">
                        <div class="contents">
                            <span class="label label-default">{{ workshop.campus }}</span>
                            <br>
                            <br>
                            {% if workshop.description != null %}
                                <p class="workshop-description">
                                    {{ workshop.description }}
                                </p>
                            {% else %}
                                <div class="text-center">
                                    <p class="workshop-no-description">No description</p>
                                </div>
                            {% endif %}
                            <br>
                            <div class="workshop-are-you-sure">
                                <h4>Are you sure?</h4>
                            </div>
                            <div class="workshop-loader">
                                <div class="three-quarters-loader">
                                    Loading...
                                </div>
                            </div>
                            <div class="workshop-success">
                                <h1>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-check fa-stack-1x"></i>
                                    </span>
                                </h1>
                                <h4>Booking successfully created!</h4>
                            </div>
                            <div class="workshop-failure">
                                <h1>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-close fa-stack-1x"></i>
                                    </span>
                                </h1>
                                <h4>Unable to create booking. You have already booked this workshop.</h4>
                            </div>
                            <button class="btn btn-block workshop-book-button" type="submit">Book</button>
                            <div class="workshop-confirm-buttons">
                                <button class="btn btn-block workshop-no-button">Cancel</button>
                                <button class="btn btn-block btn-success workshop-yes-button">Yes</button>
                            </div>
                        </div>
                        <div class="read-more"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h3 class="workshop-divider full">Full</h3>
    {% for workshop in page.workshop %}
        {% if workshop.full == true %}
            <div class="panel panel-default workshop-listing" data-url="/ajax/workshop/join-waiting-list" data-id="{{ workshop.id }}">
                <div class="panel-heading">
                    <span class="workshop-amount full">{{ workshop.remaining }}</span>
                    <h3 class="panel-title">{{ workshop.topic }}</h3>
                    <p class="workshop-labels">
                        <span class="label label-primary">{{ workshop.date }}</span>
                    </p>
                </div>
                <div class="panel-body">
                    <div class="workshop-contents">
                        <div class="contents">
                            <span class="label label-default">{{ workshop.campus }}</span>
                            <br>
                            <br>
                            {% if workshop.description != null %}
                                <p class="workshop-description">
                                    {{ workshop.description }}
                                </p>
                            {% else %}
                                <div class="text-center workshop-no-description">
                                    <p>No description</p>
                                </div>
                            {% endif %}
                            <br>
                            <div class="workshop-are-you-sure">
                                <h4>Are you sure?</h4>
                            </div>
                            <div class="workshop-loader">
                                <div class="three-quarters-loader">
                                    Loading...
                                </div>
                            </div>
                            <div class="workshop-success">
                                <h1>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-check fa-stack-1x"></i>
                                    </span>
                                </h1>
                                <h4>Successfully joined waiting list!</h4>
                            </div>
                            <div class="workshop-failure">
                                <h1>
                                    <span class="fa-stack">
                                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                                        <i class="fa fa-close fa-stack-1x"></i>
                                    </span>
                                </h1>
                                <h4>Unable to join waiting list. You have already joined this waiting list.</h4>
                            </div>
                            <button class="btn btn-block workshop-book-button" type="submit">Join Waiting List</button>
                            <div class="workshop-confirm-buttons">
                                <button class="btn btn-block workshop-no-button">Cancel</button>
                                <button class="btn btn-block btn-success workshop-yes-button">Yes</button>
                            </div>
                        </div>
                        <div class="read-more"></div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}


{% endif %}
{% if page.workshop == null %}
    <div class="alert alert-danger" role="alert">
        <strong>Unable to load workshop.</strong> Please try again or check the url.
    </div>
{% endif %}