.workshops-list {
  li {
    margin-bottom: 5px !important;
  }
}

.workshop-description {
  max-height: 60px;
  position: relative;
  overflow: hidden;
  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0; padding: 30px 0;
    background-image: linear-gradient(to bottom, transparent, #FFF);
    cursor: pointer;
  }
}