h1 {
  font-size: @uts-helps-mobile-h1;
}
h2 {
  font-size: @uts-helps-mobile-h2;
}
h3 {
  font-size: @uts-helps-mobile-h3;
}
h4 {
  font-size: @uts-helps-mobile-h4;
}
h5 {
  font-size: @uts-helps-mobile-h5;
}
h6 {
  font-size: @uts-helps-mobile-h6;
}
p {
  font-size: @uts-helps-mobile-p;
}

input {
  border-radius: 2px !important;
}

body {
  >.container {
    margin-top: 70px;
  }
}

.btn-primary {
  background-color: @uts-helps-mobile-primary;
  border-color: @uts-helps-mobile-secondary;
  border-radius: 2px;
  &:hover, &:focus {
    background-color: @uts-helps-mobile-secondary;
    border-color: @uts-helps-mobile-secondary;
  }
}

.page-title-center {
  text-align: center;
}