.home-statdisplay {
  margin: 0px -15px;
  background-color: @uts-helps-mobile-primary;
  color: #FFF;
  padding: 15px;
  .home-statdisplay-left, .home-statdisplay-right {
    width: 49%;
    display: inline-block;
  }
  .home-statdisplay-left {
    background-color: #333;
    border-radius: 10px;
    padding: 5px 15px;
    float: left;
    margin-right: 5px;
    h1 {
      margin: 0;
      font-size: 64px;
    }
    h5 {
      font-weight: bold;
      margin-bottom: 0px;
      color: #AAA;
    }
  }
  .home-statdisplay-right {
    .home-statdisplay-right-stat {
      border-radius: 10px;
      padding: 5px 15px;
      margin-bottom: 5px;
      background-color: @uts-helps-mobile-secondary;
      h3 {
        margin: 0px;
      }
      h6 {
        font-weight: bold;
        font-size: 11px;
        margin-bottom: 0px;
        margin-top: 5px;
      }
    }
  }
}