.navbar {
  border-bottom: 5px solid @uts-helps-mobile-secondary;
  border-color: @uts-helps-mobile-secondary;
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2N8ycDwnwEKzjIwMDDCBEAcY5gAjANSyLiNgeE/SAYGAKIgCnJhymuaAAAAAElFTkSuQmCC
  ) repeat;
  .navbar-brand {
    color: #FFF;
    font-weight: bold;
    &:hover, &:focus {
      color: #FFF;
    }
  }
  .nav.navbar-nav {
    a {
      color: #FFF;
      &:hover, &:focus {
        color: #FFF;
      }
    }
    margin: 7.5px 0px;
  }
  .navbar-toggle {
    border: none;
    .icon-bar {
      background-color: #FFF;
    }
    &:hover, &:focus {
      background: none;
    }
  }
  #navbar {
    background-color: @uts-helps-mobile-primary;
    border: none;
    padding: 0px;
  }
  .nav-profile-link {
    text-decoration: none;
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
  .nav-profile {
    padding: 15px 15px 7px;
    background-color: #333;
    .nav-profile-image {
      width: 110%;
    }
    .col-md-2 {
      width: 20%;
      vertical-align: top;
    }
    .col-md-10 {
      width: 78%;
    }
    .col-md-2, .col-md-10 {
      display: inline-block;
    }
    h3 {
      margin-top: 0px;
      color: #FFF;
    }
    h4 {
      color: #BBB;
    }
  }
  .navbar-collapse.collapse {
    margin: 0px;
  }
  .navbar-collapse {
    max-height: 1000px;
  }
  .container {
    padding: 0px;
  }
  .navbar-header {
    margin: 0px;
  }
  .collapsing {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}