<div class="page-title-center">
    <h3>Upload Notes</h3>
    <h4><span class="label label-info">Booking #{{ page.booking.BookingId }}</span></h4>
    <br>
</div>

<form method="POST">

    <h5>What was taught?</h5>
    <label for="attendance[taught]" class="sr-only">What was taught?</label>
    <textarea id="attendance[taught]" class="form-control" name="attendance[taught]" rows="3" required>{{ page.field.taught }}</textarea>

    <br>

    <h5>What did you learn?</h5>
    <label for="attendance[learn]" class="sr-only">What did you learn?</label>
    <textarea id="attendance[learn]" class="form-control" name="attendance[learn]" rows="3" required>{{ page.field.learn }}</textarea>

    <div class="text-center">
        <br>
        <span class="label label-danger">Minimum 100 Words</span>
        <br>
        <br>
    </div>

    <div class="text-center booking-attendance-buttons">
        <a href="/bookings" class="btn btn-danger btn-block">Cancel</a>
        <button class="btn btn-success btn-block" type="submit">Upload</button>
    </div>

</form>