<div class="page-title-center">
    <h3>My Bookings</h3>
    <br>
</div>

<h3 class="booking-divider future" data-divider="future">Future <span class="fa fa-chevron-down booking-divider-chevron"></span></h3>
    <div class="booking-future">
        <div class="text-center">
            <h4 class="booking-category-label">BOOKINGS</h4>
        </div>
        {% if page.bookings != null %}
            {% for booking in page.bookings %}
                <div class="panel panel-default booking-listing" data-booking-id="{{ booking.bookingId }}" data-workshop-id="{{ booking.workshopId }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ booking.topic }}</h3>
                        <p class="booking-labels">
                            <span class="label label-primary">{{ booking.date }}</span>
                            <span class="label label-default">{{ booking.campus }}</span>
                        </p>
                    </div>
                    <div class="panel-body">
                        <div class="booking-contents">
                            <div class="contents">
                                {% if booking.description != null %}
                                    <p class="booking-description">
                                        {{ booking.description }}
                                    </p>
                                {% else %}
                                    <div class="text-center">
                                        <p class="booking-no-description">No description</p>
                                    </div>
                                {% endif %}
                                <div class="booking-are-you-sure">
                                    <h4>Are you sure?</h4>
                                </div>
                                <div class="booking-loader">
                                    <div class="three-quarters-loader">
                                        Loading...
                                    </div>
                                </div>
                                <div class="booking-success">
                                    <h1>
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                <i class="fa fa-check fa-stack-1x"></i>
                                            </span>
                                    </h1>
                                    <h4>Successfully cancelled booking!</h4>
                                </div>
                                <div class="booking-failure">
                                    <h1>
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                                    </h1>
                                    <h4>Unable to cancel booking.</h4>
                                </div>
                                <div class="booking-buttons">
                                    <button class="btn btn-block booking-reminder-button">Set Reminder</button>
                                    <button class="btn btn-block btn-danger booking-cancel-button">Cancel</button>
                                </div>
                                <div class="booking-confirm-buttons">
                                    <a href="/bookings" class="btn btn-block btn-default booking-no-button">Cancel</a>
                                    <button class="btn btn-block btn-danger booking-yes-button">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if page.bookings == null %}
            <div class="text-center">
                <h5 class="booking-category-none">NONE</h5>
            </div>
        {% endif %}
        <div class="text-center">
            <h4 class="booking-category-label">PROGRAMS</h4>
        </div>
        <div class="text-center">
            <h5 class="booking-category-none">NONE</h5>
        </div>
        <div class="text-center">
            <h4 class="booking-category-label">SESSIONS</h4>
        </div>
        <div class="text-center">
            <h5 class="booking-category-none">NONE</h5>
        </div>
    </div>

<h3 class="booking-divider past" data-divider="past">Past <span class="fa fa-chevron-right booking-divider-chevron"></span></h3>
    <div class="booking-past" style="display: none">
        <div class="text-center">
            <h4 class="booking-category-label">BOOKINGS</h4>
        </div>
        {% if page.pastbookings != null %}
            {% for booking in page.pastbookings %}
                <div class="panel panel-default booking-listing" data-booking-id="{{ booking.bookingId }}" data-workshop-id="{{ booking.workshopId }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ booking.topic }}</h3>
                        <p class="booking-labels">
                            {% if booking.attendance != null %}
                                {% if booking.attendance.attendance == "1" %}
                                    <span class="label label-success">Attended</span>
                                {% endif %}
                                {% if booking.attendance.attendance == "0" %}
                                    <span class="label label-danger">Did not Attend</span>
                                {% endif %}
                            {% endif %}
                            {% if booking.attendance == null %}
                                {% if booking.cutoff == true %}
                                    <span class="label label-default">Cutoff Reached</span>
                                {% endif %}
                                {% if booking.cutoff == false %}
                                    <span class="label label-warning">Needs Attendance</span>
                                {% endif %}
                            {% endif %}
                            <span class="label label-primary">{{ booking.date }}</span>
                            <span class="label label-default">{{ booking.campus }}</span>
                        </p>
                    </div>
                    <div class="panel-body">
                        <div class="booking-contents">
                            <div class="contents">
                                {% if booking.description != null %}
                                <p class="booking-description">
                                    {{ booking.description }}
                                </p>
                                {% else %}
                                <div class="text-center">
                                    <p class="booking-no-description">No description</p>
                                </div>
                                {% endif %}
                                {% if booking.attendance == null %}
                                    {% if booking.cutoff == false %}
                                        <div class="past-booking-buttons">
                                            <a href="/booking/attendance/{{ booking.bookingId }}" class="btn btn-block btn-success past-booking-attended-button">Upload Notes <br>(I attended)</a>
                                            <a href="/booking/non-attendance/{{ booking.bookingId }}" class="btn btn-block btn-danger past-booking-no-attended-button">I did not attend <br> this workshop</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                {% if booking.attendance != null %}
                                    {% if booking.attendance.attendance == "1" %}
                                        <a href="/booking/view-attendance/{{ booking.bookingId }}" class="btn btn-block booking-view-attendance">View Submitted Notes</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if page.pastbookings == null %}
            <div class="text-center">
                <h5 class="booking-category-none">NONE</h5>
            </div>
        {% endif %}
        <div class="text-center">
            <h4 class="booking-category-label">PROGRAMS</h4>
        </div>
        <div class="text-center">
            <h5 class="booking-category-none">NONE</h5>
        </div>
        <div class="text-center">
            <h4 class="booking-category-label">SESSIONS</h4>
        </div>
        <div class="text-center">
            <h5 class="booking-category-none">NONE</h5>
        </div>
    </div>