<a href="/" class="header-button"><div><i class="fa fa-chevron-left"></i> Back to Dashboard</div></a>
<br>
<br>

<div class="page-title-center">
    <h3>My Bookings</h3>
    <br>
</div>

<h3 class="booking-divider future" data-divider="future">Future <span class="fa fa-chevron-down booking-divider-chevron"></span></h3>
    <div class="booking-future">
        {% if page.bookings != null %}
            {% for booking in page.bookings %}
                <div class="panel panel-default booking-listing" data-booking-id="{{ booking.bookingId }}" data-workshop-id="{{ booking.workshopId }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ booking.topic }}</h3>
                        <p class="booking-labels">
                            <span class="label label-primary">{{ booking.date }}</span>
                            <span class="label label-default">{{ booking.campus }}</span>
                        </p>
                    </div>
                    <div class="panel-body">
                        <div class="booking-contents">
                            <div class="contents">
                                {% if booking.description != null %}
                                    <p class="booking-description">
                                        {{ booking.description }}
                                    </p>
                                {% else %}
                                    <div class="text-center">
                                        <p class="booking-no-description">No description</p>
                                    </div>
                                {% endif %}
                                <div class="booking-are-you-sure">
                                    <h4>Are you sure?</h4>
                                </div>
                                <div class="booking-loader">
                                    <div class="three-quarters-loader">
                                        Loading...
                                    </div>
                                </div>
                                <div class="booking-success">
                                    <h1>
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                <i class="fa fa-check fa-stack-1x"></i>
                                            </span>
                                    </h1>
                                    <h4>Successfully cancelled booking!</h4>
                                </div>
                                <div class="booking-failure">
                                    <h1>
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                                    </h1>
                                    <h4>Unable to cancel booking.</h4>
                                </div>
                                <div class="booking-buttons">
                                    <button class="btn btn-block booking-reminder-button">Set Reminder</button>
                                    <button class="btn btn-block btn-danger booking-cancel-button">Cancel</button>
                                </div>
                                <div class="booking-confirm-buttons">
                                    <button class="btn btn-block booking-no-button">Cancel</button>
                                    <button class="btn btn-block btn-danger booking-yes-button">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if page.bookings == null %}
            <div class="alert alert-info" role="alert">
                <strong>No bookings!</strong> You don't have any bookings, view the workshops to make one
            </div>
        {% endif %}
    </div>

<h3 class="booking-divider past" data-divider="past">Past <span class="fa fa-chevron-right booking-divider-chevron"></span></h3>
    <div class="booking-past" style="display: none">
        {% if page.pastbookings != null %}
        {% for booking in page.pastbookings %}
        <div class="panel panel-default booking-listing" data-booking-id="{{ booking.bookingId }}" data-workshop-id="{{ booking.workshopId }}">
            <div class="panel-heading">
                <h3 class="panel-title">{{ booking.topic }}</h3>
                <p class="booking-labels">
                    <span class="label label-primary">{{ booking.date }}</span>
                    <span class="label label-default">{{ booking.campus }}</span>
                </p>
            </div>
            <div class="panel-body">
                <div class="booking-contents">
                    <div class="contents">
                        {% if booking.description != null %}
                        <p class="booking-description">
                            {{ booking.description }}
                        </p>
                        {% else %}
                        <div class="text-center">
                            <p class="booking-no-description">No description</p>
                        </div>
                        {% endif %}
                        <div class="booking-are-you-sure">
                            <h4>Are you sure?</h4>
                        </div>
                        <div class="booking-loader">
                            <div class="three-quarters-loader">
                                Loading...
                            </div>
                        </div>
                        <div class="booking-success">
                            <h1>
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                <i class="fa fa-check fa-stack-1x"></i>
                                            </span>
                            </h1>
                            <h4>Successfully cancelled booking!</h4>
                        </div>
                        <div class="booking-failure">
                            <h1>
                                            <span class="fa-stack">
                                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                <i class="fa fa-close fa-stack-1x"></i>
                                            </span>
                            </h1>
                            <h4>Unable to cancel booking.</h4>
                        </div>
                        <div class="booking-buttons">
                            <button class="btn btn-block booking-reminder-button">Set Reminder</button>
                            <button class="btn btn-block btn-danger booking-cancel-button">Cancel</button>
                        </div>
                        <div class="booking-confirm-buttons">
                            <button class="btn btn-block booking-no-button">Cancel</button>
                            <button class="btn btn-block btn-danger booking-yes-button">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if page.pastbookings == null %}
        <div class="alert alert-info" role="alert">
            <strong>No past bookings!</strong> You don't have any past bookings.
        </div>
        {% endif %}
    </div>