<div class="page-title-center">
    <h3>Program</h3>
    <h4><span class="label label-default">Study + Reading Skills</span></h4>
    <br>
</div>

<h4>Workshops in this Program:</h4>

<div class="program-programs">

    <div class="panel panel-default program-listing">
        <div class="panel-heading">
            <h3 class="panel-title">Exam preparation Repeat</h3>
            <p class="program-labels">
                <span class="label label-primary">19th May 2015: 5:00pm - 6:30pm</span>
            </p>
        </div>
        <div class="panel-body">
            <div class="program-contents">
                <div class="contents">
                    <span class="label label-default">CB02.07.004</span>
                    <br>
                    <br>
                    <p class="program-description">
                        "How do I prepare for my exams? What kinds of questions will be asked? What is the best approach to answer them?" This workshop focuses on practical approaches to revise and prepare for your exams, the types of exam questions and how to plan strategically so that you can tackle an exam more confidently.
                    </p>
                </div>
                <div class="read-more"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default program-listing">
        <div class="panel-heading">
            <h3 class="panel-title">Reading and note-making strategies</h3>
            <p class="program-labels">
                <span class="label label-primary">18th Aug 2015: 5:00pm - 6:30pm</span>
            </p>
        </div>
        <div class="panel-body">
            <div class="program-contents">
                <div class="contents">
                    <span class="label label-default">CB10.02.320</span>
                    <br>
                    <br>
                    <p class="program-description">
                        "I have so much to read and so little time. How do I know which is more important?" This workshop introduces you to the reading and note-making strategies that will help you to read more selectively and critically, and make notes to prepare for an assignment and/or exam revision.
                    </p>
                </div>
                <div class="read-more"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default program-listing">
        <div class="panel-heading">
            <h3 class="panel-title">Reading and note-making strategies Repeat</h3>
            <p class="program-labels">
                <span class="label label-primary">27th Aug 2015: 12:00pm - 1:30pm</span>
            </p>
        </div>
        <div class="panel-body">
            <div class="program-contents">
                <div class="contents">
                    <span class="label label-default">CB02.07.009</span>
                    <br>
                    <br>
                    <p class="program-description">
                        "I have so much to read and so little time. How do I know which is more important?" This workshop introduces you to the reading and note-making strategies that will help you to read more selectively and critically, and make notes to prepare for an assignment and/or exam revision.
                    </p>
                </div>
                <div class="read-more"></div>
            </div>
        </div>
    </div>

</div>